
\.DS_Store
iOS/bin
iOS/obj
Droid/obj
Droid/bin
PostMessageExp/.vs/PostMessageExp/xs/UserPrefs.xml
PostMessageExp/.vs/PostMessageExp/xs/sqlite3/storage.ide
PostMessageExp/.vs/PostMessageExp/xs/sqlite3/storage.ide-shm
PostMessageExp/.vs/PostMessageExp/xs/sqlite3/storage.ide-wal
PostMessageExp/Droid/bin/Debug/com.AR.PostMessageExp-Signed.apk
PostMessageExp/Droid/bin/Debug/com.AR.PostMessageExp.apk
PostMessageExp/Droid/bin/Debug/PostMessageExp.Droid.dll
PostMessageExp/Droid/bin/Debug/PostMessageExp.Droid.pdb
PostMessageExp/Droid/obj/.cache/com.AR.PostMessageExp.flag
PostMessageExp/Droid/obj/Debug/build.props
PostMessageExp/Droid/obj/Debug/devices.cache
PostMessageExp/Droid/obj/Debug/emulator-5554.deployment
PostMessageExp/Droid/obj/Debug/PostMessageExp.Droid.csproj.CoreCompileInputs.cache
PostMessageExp/Droid/obj/Debug/PostMessageExp.Droid.csproj.FileListAbsolute.txt
PostMessageExp/Droid/obj/Debug/PostMessageExp.Droid.dll
PostMessageExp/Droid/obj/Debug/PostMessageExp.Droid.pdb
PostMessageExp/Droid/obj/Debug/resolved_assemblies.txt
PostMessageExp/Droid/obj/Debug/android/assets/Mono.Android.pdb
PostMessageExp/Droid/obj/Debug/android/assets/PostMessageExp.Droid.dll
PostMessageExp/Droid/obj/Debug/android/assets/PostMessageExp.Droid.pdb
PostMessageExp/Droid/obj/Debug/android/bin/classes.zip
PostMessageExp/Droid/obj/Debug/android/bin/com.AR.PostMessageExp.apk
PostMessageExp/Droid/obj/Debug/android/bin/packaged_resources
PostMessageExp/Droid/obj/Debug/assets/index.html
PostMessageExp/Droid/obj/Debug/linkdst/PostMessageExp.Droid.dll
PostMessageExp/Droid/obj/Debug/linkdst/PostMessageExp.Droid.pdb
PostMessageExp/Droid/obj/Debug/linksrc/PostMessageExp.Droid.dll
PostMessageExp/Droid/obj/Debug/linksrc/PostMessageExp.Droid.pdb
PostMessageExp/iOS/obj/iPhoneSimulator/Debug/PostMessageExp.iOS.csprojResolveAssemblyReference.cache
